 @charset 'utf';

 * {
     padding: 0;
     margin: 0;
 }

 ol,
 ul {
     list-style: none;
     color: 41280B;
 }

 a {
     text-decoration: none;
     color: #41280B;
 }

 p {
     color: #41280B;
 }

 span {
     color: #41280B;
 }

 h2 {
     color: #41280B;
 }

 img {
     vertical-align: bottom;
 }

 body {
     background-color: #FFF1E2;
     font-size: 16px;
     /* width: 1440px;
    margin: 0 auto; */
 }

 /* 큰제목 */
 .name {
     font-size: 30px;
     text-align: center;
     color: #41280B;
 }



 /* 더보기 버튼 */
 .btn {
     display: inline-block;
     background-color: #EDD9C4;
     border-radius: 50px;
     font-size: 14px;
     padding: 10px;
 }




 /* 헤더 */
 header {
     display: flex;
     padding: 25px 0;
     justify-content: center;
     align-items: center;
 }

 header img {
     width: 170px;
     height: 50px;
     margin-right: 40px;
 }

 .nav {
     text-align: center;
     margin-right: 40px;
 }

 .nav ul {
     width: 950px;
     display: flex;
     border-radius: 50px;
     background-color: #EDD9C4;
     justify-content: space-around;
 }

 .nav a {
     font-size: 18px;
     display: block;
     padding: 15px;
     border-radius: 10px;
 }

 .util {
     text-align: center;
 }

 .util ul {
     display: flex;
 }

 .util li:nth-child(2) {
     border-radius: 30px;
     background-color: #C6AD97;
 }

 .util a {
     width: 60px;
     display: block;
     font-size: 15px;
     padding: 15px;
 }






 /* 메인 */
.heroBox {
    width: 100%;
    height: 900px;
    position: relative;
}

.hero {
    position: absolute;
    left: 0;
    margin-top: 100px;
}

.hero h2 {
    font-size: 120px;
    color: #183811;
}

.main_Img {}

.main_Img .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 780px;
}

.main_Img .img img {
    max-width: 100%;
}

.mainTxt {
    position: absolute;
    left: 800px;
    bottom: -80px;
    margin-bottom: 200px;
    text-align: right;
}

.mainTxt h2 {
    font-size: 130px;
    color: #183811;
    margin-bottom: -30px;
}

.mainTxt h4 {
    font-size: 60px;
    color: #183811;
}

.mainTxt p {
    width: 500px;
    text-align: right;
    font-size: 16px;
}





 /* 박물관안내 */
.section1 {
    width: 100%;
    height: 900px;
}

.section1 .name {
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.infoBox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


.notice {
    width: 45%;
    padding-right: 100px;
}

.notice h2 {
    text-align: center;
    padding-bottom: 50px;
}


.notice li a {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: #000 1px dashed;
    padding-bottom: 10px;
}



.info {
    width: 45%;
}

.info h2 {
    text-align: center;
    padding-bottom: 50px;
}

.infoFull {}

.info li {
    margin-bottom: 30px;
    border-bottom: #000 1px dashed;
}

.info a {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}



.news {
    width: 45%;
    padding-right: 100px;
}

.news h2 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.news li {
    margin-bottom: 30px;
    border-bottom: #000 1px dashed;
}

.news a {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}





.review {
    width: 45%;
}

.review h2 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.review li {
    margin-bottom: 30px;
    border-bottom: #000 1px dashed;
}

.review a {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}









 /* 박물관소개 */

.section2 {
    width: 100%;
    height: 1000px;
}

.section2 .name {
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

.coffeeBox {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.coffeeBox img {
    width: 500px;
    height: 500px;
    border-radius: 300px;
}

.coffeeBox p {
    height: 100px;
    padding-top: 30px;
}

.coffeeBox h2 {
    padding-bottom: 40px;
}



 /* 체험안내 */

.section3 {
    width: 100%;
    height: 1000px;
}
.section3 .name {
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.experience {}

.experience img {
    width: 100%;
    height: 350px;
}

.experience p {
    text-align: right;
    position: absolute;
    right: 30px;
    bottom: 25px;
}

.experience ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.experience span {
    display: block;
    margin-bottom: 15px;
}

 .experience strong {
     display: block;
     font-size: 25px;
     margin-bottom: 18px;
 }

 .experience li {
     position: relative;

 }

 .experience a {
     color: #41280B;
     font-size: 20px;
 }

 .experience li:nth-child(1) {
     width: 48%;

 }

 .experience li:nth-child(2) {
     width: 48%;
 }

 .experience li:nth-child(3) {
     width: 48%;
     padding-top: 80px;
 }








 /* 체험예약 */

.section4 {
    width: 100%;
    height: 1000px;
}

.section4 .name {
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.section4 .title {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titleTxt {
    display: flex;
    width: 100%;
}

.section4 .title .per {
    padding: 0 20px;
}

.section4 .title .wak {
    padding: 0 20px;
}

.section4 .title .binu {
    padding: 0 20px;
}

.section4 .title h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.section4 .title p {
    font-size: 16px;
}

.section4 .date {
    width: 800px;
    height: 600px;
    padding: 50px 0;
}

.section4 .date img {
    width: 800px;
    height: 600px;
}



.section4 .titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section4 .oneBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1000px;
    border: #EDD9C4;
    border-radius: 60px;
    background-color: #EDD9C4;
    padding: 20px;
}

.section4 .oneBox1 {
    width: 15%;
}

.section4 .oneBox1 p {
    font-size: 18px; 
}
.section4 .oneBox1 i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.section4 .oneBox2 {
    width: 15%;
}

.section4 .oneBox2 p {
    font-size: 18px; 
}
.section4 .oneBox2 i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.section4 .oneBox3 {
    width: 15%;
}

.section4 .oneBox3 p {
    font-size: 18px; 
}
.section4 .oneBox3 i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.section4 .oneBox4 {
    width: 15%;
}

.section4 .oneBox4 p {
    font-size: 18px; 
}
.section4 .oneBox4 i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.section4 .oneBox5 {
    width: 15%;
}

.section4 .oneBox5 p {
    font-size: 18px; 
}
.section4 .oneBox5 i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.section4 .twoBox {
    display: flex;
    font-size: 18px;
    margin-left: 30px;
    cursor: pointer;
}

.section4 .twoBox p:nth-child(1) {
    background-color: #EDD9C4;
    padding: 20px;
    border: 1px solid #EDD9C4;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.section4 .twoBox p:nth-child(2) {
    padding: 20px;
    background-color: #E2CEB9;
    border: 1px solid #EDD9C4;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}






 /* 포토갤러리 */
.section5 {
    width: 100%;
    height: 900px;
}

.section5 .name {
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

.section5 .gallery {
    position: relative;
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.section5 .gallery ul {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.section5 .gallery li {
    position: absolute;
    animation: slider 7.5s infinite linear;
}

.section5 .gallery img {
    width: 1000px;
    height: 700px;
}

.gallery li:nth-child(1) {
    background-image: url(img1.jpg);
    animation-delay: 0;
}

.gallery li:nth-child(2) {
    background-image: url(img2.jpg);
    animation-delay: -2.5s;
}

.gallery li:nth-child(3) {
    background-image: url(img3.jpg);
    animation-delay: -5s;
}

.gallery li:nth-child(4) {
    background-image: url(img3.jpg);
    animation-delay: -5s;
}

.gallery li:nth-child(5) {
    background-image: url(img3.jpg);
    animation-delay: -5s;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    26% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }

    93% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}




 /* 산책로&포토존 */
.section6 {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.section6 .name {
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

.section6Img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

 /* 산책로 */
.section6 .san {
    position: relative;
    width: 700px;
    height: 600px;
    overflow: hidden;
}

.section6 .san ul {
    width: 700px;
    height: 600px;
    display: flex;
    overflow: hidden;
}

.section6 .san li {
    position: absolute;
}

.section6 .san img {
    width: 700px;
    height: 600px;
}

.section6 .sanLeft {
    position: absolute;
    width: 30px;
    height: 60px;
    font-size: 40px;
    margin-top: 250px;
    margin-left: 10px;
    z-index: 99;
}

.section6 .sanRight {
    position: absolute;
    width: 30px;
    height: 60px;
    font-size: 40px;
    margin-top: 250px;
    margin-left: 660px;
    z-index: 99;
}

.section6 .sanLeft i {
    color: #fff;
}

.section6 .sanRight i {
    color: #fff;
}



 /*포토존 */
.section6 .po {
    position: relative;
    width: 700px;
    height: 600px;
    overflow: hidden;
}

.section6 .po ul {
    width: 700px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.section6 .po li {
    position: absolute;
}

.section6 .po img {
    width: 700px;
    height: 600px;
}

.section6 .poLeft{
    position: absolute;
    width: 30px;
    height: 60px;
    font-size: 40px;
    margin-top: 250px;
    margin-left: 10px;
    z-index: 99;
}

.section6 .poRight{
    position: absolute;
    width: 30px;
    height: 60px;
    font-size: 40px;
    margin-top: 250px;
    margin-left: 660px;
    z-index: 99;
}


.section6 .poLeft i {
    color: #fff;
}

.section6 .poRight i {
    color: #fff;
}




 /* 주변관광지 */
.section7 {
    width: 100%;
    height: 4000px;
}

.section7 .name {
    width: 100%;
    height: 100px;
    margin-top: 250px;
}

.section7 .sectionBox {
    width: 100%;
    height: 100%;
}

.juImg1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 100px 0;
}

.juImg2 {
    position: relative;
    width: 100%;
    display: flex;
    padding: 100px 0;
    justify-content: end;
    text-align: right;
}

.juImg3 {
    display: flex;
    justify-content: start;
    padding: 100px 0;
}

.juImg4 {
    display: flex;
    justify-content: end;
    text-align: right;
    padding: 100px 0;
}

.sectionBox .imgBox1 {
    width: 1200px;
    height: 700px;
}

.sectionBox .imgBox2 {
    width: 1200px;
    height: 700px;
}

.section7 .imgBox1 img {
    width: 1200px;
    height: 700px;
    border-top-right-radius: 350px;
    border-bottom-right-radius: 350px;
}

.section7 .imgBox2 img {
    width: 1200px;
    height: 700px;
    border-top-left-radius: 350px;
    border-bottom-left-radius: 350px;
}

.section7 .txtBox1 {
    position: absolute;
    left: 0;
    width: 1100px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 350px;
    border-bottom-right-radius: 350px;
    z-index: -1;
    
}

.section7 .txtBox1 h4 {
    font-size: 30px;
    margin-left: 250px;
}
.section7 .txtBox1 p {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 250px;
}

.section7 .txtBox2 {
    position: absolute;
    right: 0;
    width: 1100px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 350px;
    border-bottom-left-radius: 350px;
    z-index: -1;
}


.section7 .txtBox2 h4 {
    font-size: 30px;
    margin-right: 250px;
}
.section7 .txtBox2 p {
    font-size: 18px;
    margin-top: 30px;
    margin-right: 250px;
}






 /* 오시는길 */
 .section8 {
    width: 100%;
    height: 1000px;
 }

 .section8 .name {
     padding-bottom: 50px;
     padding-top: 60px;
 }

 .section8 .map {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 30px;
 }

 .section8 .mapTop {
     display: flex;
     justify-content: center;
 }

 .section8 .mapTxt {
     width: 1000px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .mapTxt h4 {
     font-size: 25px;
 }

 .mapTxt ul {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
 }

 .mapTxt img {
     width: 30px;
     height: 30px;
 }

 .mapTxt li:nth-child(1) {
     background-color: #EDD9C4;
     padding: 10px;
     border: 1px solid #EDD9C4;
     border-radius: 40px;
 }

 .mapTxt li:nth-child(2) {
     background-color: #EDD9C4;
     padding: 10px;
     border: 1px solid #EDD9C4;
     border-radius: 40px;
     margin-left: 20px;
 }

 .mapBottom p {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 10px;
     font-size: 20px;
 }


 .section4 .twoBox {
     display: flex;
     font-size: 18px;
     margin-left: 30px;
 }




 /* 푸터 */
footer {
    background-color: #f3ddca;
    font-size: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}





 /* 미디어쿼리구간설정############################################### */

 /* 와이드데스크탑 설정 */

 /* 1280px 이상일때설정 */
@media(min-width:1440px) {


    header,
    .util,
    .heroBox,
    .section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6,
    .section8,
    .copyright {
        width: 1440px;
        margin: 0 auto;
    }

    .notice_inner {
        width: 620px;
    }

    .promo_inner {
        width: 620px;
    }

}