@charset 'utf';

* {
    padding: 0;
    margin: 0;
    color: #41280B;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

body {
    background-color: #F9EEE3;
    font-size: 16px;
}





/* 메인 */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header h1 {
    width: 200px;
}

header h1 img {
    width: 200px;
}

nav {
    width: 1000px;
}

nav ul {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

nav li {
    font-size: 18px;
}

nav a {
    padding: 20px;
    color: #41280B;
}

header .util {
    width: 200px;
}

header .util ul {
    display: flex;
    justify-content: space-between;
}

header .util ul li {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
}

header .util ul li:nth-child(1) {
    background-color: rgb(238, 213, 181);
    border-radius: 30px;
}

.main {
    position: relative;
    width: 1440px;
    height: 960px;
}

.main .mainTxt {
    position: absolute;
    width: 100%;
}

.main .mainTxt h2 {
    font-size: 140px;
    color: #004019;
    margin-top: 50px;
}

.main .mainImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .mainImg img {
    width: 100%;
    height: 780px;
}

.main .mainTxt2 {
    position: absolute;
    margin-left: 800px;
    margin-top: 400px;
}

.main .mainTxt2 h2 {
    font-size: 140px;
    color: #004019;
}

.main .mainTxt2 h4 {
    font-size: 60px;
    margin-left: 250px;
}




/* 박물관 안내 */
.wrap {
    width: 100%;
}

.section1 {
    width: 100%;
    height: 920px;
    margin-top: 200px;
}

.section1 h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #41280B;
    margin-bottom: 30px;
}

.section1 h2 img {
    width: 40px;
    margin-right: 15px;
}

.section1 .section1List {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}




/* 공지사항 */

.section1 .section1List .list1 {
    width: 40%;
}

.section1 .section1List .list1 h2 {
    width: 100%;
    font-size: 25px;
}

.section1 .section1List .list1 ul {
    width: 100%;
}

.section1 .section1List .list1 li {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 50px;
    margin: 30px 0;
    color: #41280B;
    cursor: pointer;
}

.section1 .section1List .list1 li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}



/* 이용안내 */

.section1 .section1List .list2 {
    width: 40%;
}

.section1 .section1List .list2 h2 {
    width: 100%;
    font-size: 25px;
}

.section1 .section1List .list2 ul {
    width: 100%;
}

.section1 .section1List .list2 li {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 50px;
    margin: 30px 0;
    color: #41280B;
    cursor: pointer;
}

.section1 .section1List .list2 li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


/* 관련기사 */

.section1 .section1List .list3 {
    width: 40%;
    margin-top: 50px;
}

.section1 .section1List .list3 h2 {
    width: 100%;
    font-size: 25px;
}

.section1 .section1List .list3 ul {
    width: 100%;
}

.section1 .section1List .list3 li {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 50px;
    margin: 30px 0;
    color: #41280B;
    cursor: pointer;
}

.section1 .section1List .list3 li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* 리뷰 */

.section1 .section1List .list4 {
    width: 40%;
    margin-top: 50px;
}

.section1 .section1List .list4 h2 {
    width: 100%;
    font-size: 25px;
}

.section1 .section1List .list4 ul {
    width: 100%;
}

.section1 .section1List .list4 li {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 50px;
    margin: 30px 0;
    color: #41280B;
    cursor: pointer;
}

.section1 .section1List .list4 li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}







/* 박물관 소개 */
.section2 {
    width: 100%;
    height: 920px;
}

.section2 h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #41280B;
}

.section2 h2 img {
    width: 40px;
    margin-right: 15px;
}

.section2 .section2List {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


/* 충주커피박물관 */
.section2 .section2List .museum {
    width: 40%;
    margin: 50px 0;
}

.section2 .section2List .museum h2 {
    font-size: 25px;
}

.section2 .section2List .museumImg {
    width: 100%;
}

.section2 .section2List .museumImg img {
    width: 500px;
    height: 500px;
    border-radius: 500px;
    margin: 30px 0;
    cursor: pointer;
}

.section2 .section2List .museum p {
    font-size: 16px;
}




/* 충주커피박물관카페 */
.section2 .section2List .cafe {
    width: 40%;
    margin: 50px 0;
}

.section2 .section2List .cafe h2 {
    font-size: 25px;
}

.section2 .section2List .cafeImg {
    width: 100%;
}

.section2 .section2List .cafeImg img {
    width: 500px;
    height: 500px;
    border-radius: 500px;
    margin: 30px 0;
    cursor: pointer;
}

.section2 .section2List .cafe p {
    font-size: 16px;
}





/* 체험안내 및 예약 */
.section3 {
    width: 100%;
    height: 1050px;
}

.section3 h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #41280B;
    margin-bottom: 50px;
}

.section3 h2 img {
    width: 40px;
    margin-right: 15px;
}


.experience {
    width: 100%;
    display: flex;
    justify-content: center;
}

.experience .experienceImg {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.experience .experienceImg .perImg {
    position: relative;
    width: 70%;
    margin-bottom: 15px;
}

.experience .experienceImg .perImg img {
    width: 500px;
    height: 250px;
}

.experience .experienceImg .perImg ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin-top: -250px;
    margin-left: 150px;
}

.experience .experienceImg .perImg li {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.experience .experienceImg .perImg li:nth-child(1) {
    font-size: 25px;
}

.experience .experienceImg .perImg li:nth-child(2) {
    font-size: 25px;
    font-weight: bold;
}




.experience .experienceImg .wakImg {
    position: relative;
    width: 70%;
    margin-bottom: 15px;
}

.experience .experienceImg .wakImg img {
    width: 500px;
    height: 250px;
}

.experience .experienceImg .wakImg ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin-top: -250px;
    margin-left: 150px;
}

.experience .experienceImg .wakImg li {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.experience .experienceImg .wakImg li:nth-child(1) {
    font-size: 25px;
}

.experience .experienceImg .wakImg li:nth-child(2) {
    font-size: 25px;
    font-weight: bold;
}





.experience .experienceImg .binuImg {
    position: relative;
    width: 70%;
    margin-bottom: 15px;
}

.experience .experienceImg .binuImg img {
    width: 500px;
    height: 250px;
}

.experience .experienceImg .binuImg ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin-top: -250px;
    margin-left: 150px;
}

.experience .experienceImg .binuImg li {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.experience .experienceImg .binuImg li:nth-child(1) {
    font-size: 25px;
}

.experience .experienceImg .binuImg li:nth-child(2) {
    font-size: 25px;
    font-weight: bold;
}

/*  */
.experienceTxt {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.experienceTxt .Txt {
    width: 100%;
    height: 700px;
    background-color: rgba(237, 217, 196, 0.4);
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.experienceTxt .Txt ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experienceTxt .Txt li {
    display: flex;
    font-size: 20px;
    padding: 30px;
}

.experienceTxt .Txt li select {
    width: 150px;
    height: 30px;
    font-size: 16px;
    margin-left: 30px;
    color: #41280B;
}

.experienceTxt input {
    width: 150px;
    height: 30px;
    font-size: 16px;
    margin-left: 30px;
    color: #41280B;
}

.experienceBtn {
    width: 100%;
    display: flex;
}

.experienceBtn ul {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.experienceBtn li {
    width: 20%;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(223, 201, 171);
    border-radius: 30px;
    margin: 0 20px;
    color: #41280B;
}






/* 포토갤러리 */
.section4 {
    width: 100%;
    height: 920px;
    margin-top: 200px;
}

.section4 h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #41280B;
    margin-bottom: 30px;
}

.section4 h2 img {
    width: 40px;
    margin-right: 15px;
}

.poto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.poto ul {
    width: 100%;
}

.poto li {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.poto li img {
    position: absolute;
    width: 800px;
    height: 600px;
}





/* 산책로 & 포토존 */
.section5 {
    width: 100%;
    height: 920px;
    margin-top: 200px;
}

.section5 h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #41280B;
    margin-bottom: 40px;
}

.section5 h2 img {
    width: 40px;
    margin-right: 15px;
}

.section5 .san {
    width: 100%;
}

.section5 .san ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.section5 .san li {
    width: 100%;
    margin: 0 20px;
}

.section5 .san li img {
    width: 350px;
    height: 350px;
    border-radius: 100px;
}

.section5 .san li img:hover {
    scale: 1.1;
}




/* 포토존 */
.section5 .potoZone {
    width: 100%;
    margin-top: 30px;
}

.section5 .potoZone ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.section5 .potoZone li {
    width: 100%;
    margin: 0 20px;
}

.section5 .potoZone li img {
    width: 350px;
    height: 350px;
    border-radius: 100px;
}

.section5 .potoZone li img:hover {
    scale: 1.1;
}





/* 주변관광지 */
.section6 {
    width: 100%;
    height: 1500px;
    margin-top: 200px;
}

.section6 h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #41280B;
}

.section6 h2 img {
    width: 40px;
    margin-right: 15px;
}

.juImg1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 100px 0;
}

.juImg2 {
    position: relative;
    width: 100%;
    display: flex;
    padding: 100px 0;
    justify-content: end;
    text-align: right;
}

.juImg3 {
    display: flex;
    justify-content: start;
    padding: 100px 0;
}

.juImg4 {
    display: flex;
    justify-content: end;
    text-align: right;
    padding: 100px 0;
}

.sectionBox .imgBox1 {
    width: 1200px;
    height: 700px;
}

.sectionBox .imgBox2 {
    width: 1200px;
    height: 700px;
}

.section6 .imgBox1 img {
    width: 1200px;
    height: 700px;
    border-top-right-radius: 350px;
    border-bottom-right-radius: 350px;
}

.section6 .imgBox2 img {
    width: 1200px;
    height: 700px;
    border-top-left-radius: 350px;
    border-bottom-left-radius: 350px;
}

.section6 .txtBox1 {
    position: absolute;
    left: 0;
    width: 1100px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 350px;
    border-bottom-right-radius: 350px;
    z-index: -1;

}

.section6 .txtBox1 h4 {
    font-size: 30px;
    margin-left: 250px;
}

.section6 .txtBox1 p {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 250px;
}

.section6 .txtBox2 {
    position: absolute;
    right: 0;
    width: 1100px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 350px;
    border-bottom-left-radius: 350px;
    z-index: -1;
}


.section6 .txtBox2 h4 {
    font-size: 30px;
    margin-right: 250px;
}

.section6 .txtBox2 p {
    font-size: 18px;
    margin-top: 30px;
    margin-right: 250px;
}






/* 오시는길 */
.section7 {
    width: 100%;
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section7 h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #41280B;
    margin-bottom: 30px;
}

.section7 h2 img {
    width: 40px;
    margin-right: 15px;
}

.section7 map {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

.section7 .mapIframe {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.section7 .mapTxt1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section7 .mapTxt1 h3 {
    width: 870px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.section7 .mapTxt1 .mapBtn {
    width: 430px;
    display: flex;
}

.section7 .mapTxt1 .mapBtn li {
    display: flex;
    background-color: #f3ddca;
    border-radius: 30px;
    margin: 0 10px;
    padding: 10px;
}


.section7 .mapTxt1 .mapBtn li a {
    font-size: 16px;
}

.section7 .mapTxt2 {
    width: 100%;
    margin-top: 20px;
}

.section7 .mapTxt2 p {
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
}





footer {
    background-color: rgba(237, 217, 196, 0.4);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p {
    font-size: 20px;
}






/* 미디어쿼리 */
@media(min-width:1440px) {

    header,
    .main,
    .section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section7 {
        width: 1440px;
        margin: 0 auto;
    }
}




/* 테블릿 */
@media(min-width:600px) and (max-width:768px) {

    header h1,
    .util,
    .mainTxt,
    .mainImg .cup,
    .mainTxt2 {
        display: none;
    }

    nav {
        width: 768px;
    }
    
    nav ul {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    nav li {
        font-size: 11px;
    }
    

    .main {
        width: 100%;
        height: 300px;
        background-image: url(img/ta.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .section1 {
        width: 100%;
        height: 1700px;
        margin-top: 100px;
    }

    .section1 .section1List {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }

    .section1 .section1List .list1 {
        width: 100%;
    }

    .section1 .section1List .list2 {
        width: 100%;
    }

    .section1 .section1List .list3 {
        width: 100%;
    }

    .section1 .section1List .list4 {
        width: 100%;
    }

    .section2 {
        width: 100%;
        height: 1500px;
    }


    .section2 .section2List {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .section2 .section2List .museum {
        width: 100%;
        margin: 50px 0;
    }

    .section2 .section2List .museumImg img {
        width: 400px;
        height: 400px;
        border-radius: 500px;
        margin: 30px 0;
        cursor: pointer;
    }

    .section2 .section2List .cafe {
        width: 100%;
        margin: 50px 0;
    }

    .section2 .section2List .cafeImg img {
        width: 400px;
        height: 400px;
        border-radius: 500px;
        margin: 30px 0;
        cursor: pointer;
    }

    .section3 {
        width: 100%;
        height: 1700px;
    }

    .experience {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .experience .experienceImg {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .experienceTxt {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .experienceTxt .Txt {
        width: 70%;
        height: 700px;
        background-color: rgba(237, 217, 196, 0.4);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        margin-left: 100px;
    }

    .section4 {
        width: 100%;
        height: 300px;
    }

    .poto li img {
        position: absolute;
        width: 400px;
        height: 300px;
    }



    .section5 {
        width: 100%;
        height: 400px;
    }
    
    .section5 .san li img {
        width: 160px;
        height: 160px;
        border-radius: 50px;
    }

    .section5 .potoZone li img {
        width: 160px;
        height: 160px;
        border-radius: 50px;
    }
    
    .section5 .san li {
        width: 20%;
    }

    .section5 .potoZone li {
        width: 20%;
    }

    .section5 .potoZone {
        width: 100%;
        margin-top: 10px;
    }



    .section6 {
        width: 100%;
        height: 1500px;
    }

    .sectionBox .imgBox1 {
        width: 400px;
        height: 300px;
    }
    
    .sectionBox .imgBox2 {
        width: 400px;
        height: 300px;
    }
    
    .section6 .imgBox1 img {
        width: 400px;
        height: 300px;
        border-top-right-radius: 350px;
        border-bottom-right-radius: 350px;
    }
    
    .section6 .imgBox2 img {
        width: 400px;
        height: 300px;
        border-top-left-radius: 350px;
        border-bottom-left-radius: 350px;
    }

    .section6 .txtBox1 {
        position: absolute;
        left: 0;
        width: 450px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        border-top-right-radius: 350px;
        border-bottom-right-radius: 350px;
        z-index: -1;
        margin-left: -50px;
    
    }

    .section6 .txtBox2 {
        position: absolute;
        right: 0;
        width: 450px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        border-top-left-radius: 350px;
        border-bottom-left-radius: 350px;
        z-index: -1;
        margin-right: -50px;
    }

    .section6 .txtBox1 h4 {
        font-size: 18px;
        margin-left: 100px;
    }
    
    .section6 .txtBox1 p {
        font-size: 10px;
        margin-top: 30px;
        margin-left: 100px;
    }

    .section6 .txtBox2 h4 {
        font-size: 18px;
        margin-right: 100px;
    }
    
    .section6 .txtBox2 p {
        font-size: 10px;
        margin-top: 30px;
        margin-right: 100px;
    }

    .juImg1 {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: start;
        padding: 60px 0;
    }
    
    .juImg2 {
        position: relative;
        width: 100%;
        display: flex;
        padding: 60px 0;
        justify-content: end;
        text-align: right;
    }
    
    .juImg3 {
        display: flex;
        justify-content: start;
        padding: 60px 0;
    }
    
    .juImg4 {
        display: flex;
        justify-content: end;
        text-align: right;
        padding: 60px 0;
    }






    .section7 {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section7 h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: #41280B;
        margin-bottom: 30px;
    }
    
    .section7 h2 img {
        width: 25px;
        margin-right: 10px;
    }

    .section7 .mapIframe {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    
    .section7 .mapTxt1 h3 {
        width: 870px;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    .section7 .mapTxt1 .mapBtn li {
        display: flex;
        background-color: #f3ddca;
        border-radius: 30px;
        margin: 0 10px;
        padding: 5px;
    }

    .section7 .mapTxt1 .mapBtn li a {
        font-size: 10px;
    }
    
    .section7 .mapTxt2 p {
        width: 100%;
        font-size: 10px;
        display: flex;
        justify-content: center;
    }

    footer {
        background-color: rgba(237, 217, 196, 0.4);
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    

    footer p {
        font-size: 14px;
    }

}




/* 모바일 */
@media(max-width:599px) {}