@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* 기본설정 */
* {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: bottom;
}

.wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 30px;
    display: flex;
    margin-left: 200px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    font-size: 20px;
}

nav li img {
width: 30px;
margin-right: 10px;
}

nav li i {
    font-size: 20px;
    margin-right: 10px;
}





/* 인트로 */
.intro {
    width: 100%;
    height: 920PX;
    display: flex;

}

.intro h2 {

}

.intro img {
    width: 100%;
    height: 920px;
}

.about {
    width: 100%;
    height: 100%;
}

.about .left {
    
}

.about .left ul {

}

.about .left li {

}

.about .left img {

}
